In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd
AAPL_stock_df = pd.read_csv('./stock_price_history/AAPL.csv')
NVDA_stock_df = pd.read_csv('./stock_price_history/NVDA.csv')
GOOG_stock_df = pd.read_csv('./stock_price_history/GOOG.csv')
XOM_stock_df = pd.read_csv('./stock_price_history/XOM.csv')
MCD_stock_df = pd.read_csv('./stock_price_history/MCD.csv')

,date,volume,open,high,low,close,adj close
0,2020-07-02,2689500,187.000000,187.000000,182.860001,183.520004,183.520004
1,2020-07-01,2193800,184.949997,186.440002,183.720001,184.660004,184.660004
2,2020-06-30,3163100,182.919998,185.199997,181.889999,184.470001,184.470001
3,2020-06-29,2622200,180.570007,182.830002,179.169998,182.800003,182.800003
4,2020-06-26,5107400,182.369995,182.809998,178.880005,179.740005,179.740005